.ui.six.column.stackable.grid
  .ui.divider
  .row
    .column
      = link_to 'https://www.linkedin.com/in/gmuraleekrishna', target: '_blank' do
        = semantic_icon(:linkedin, :big)
        .content
          LinkedIn
    .column
      = link_to 'https://twitter.com/MuraleekrishnaG', target: '_blank' do
        = semantic_icon(:twitter, :big)
        .content
          Twitter
    .column
      = link_to 'https://github.com/gmuraleekrishna', target: '_blank' do
        = semantic_icon(:github, :big)
        .content
          GitHub
    .column
      = link_to 'https://stackoverflow.com/users/3804420/gmuraleekrishna', target: '_blank' do
        = semantic_icon(:stack, :overflow, :big)
        .content
          Stack Overflow
    .column
      = link_to 'https://www.coursera.org/account/accomplishments/specialization/34HVR4RYTETG', target: '_blank' do
        %img.coursera.big.icon{ src: 'https://d3njjcbhbojbot.cloudfront.net/web/images/favicons/apple-touch-icon-152x152.png'}
        .content
          Coursera
    .column
      = mail_to 'muraleekrishnagc@gmail.com' do
        = semantic_icon(:mail, :outline, :big)
        .content
          Email
