!!!
%html{ lang: I18n.locale }
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv': 'Content-Type' }
    %meta{ name: 'google-site-verification' content: 'l44fCbKESAYqkGhJh2l0SVsqwSE9REPf0h26yisMmIQ' }
    = display_meta_tags site: 'Muraleekrishna Gopinathan', alternate: meta_tags_alternate_config, icon: meta_tags_icon_config
    %link{ href: '/humans.txt', rel: 'author' }
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
  %body
    %header{ role: 'banner' }
      = render 'layouts/header'
    %main{ role: 'main' }
      = yield
    %footer{ role: 'contentinfo' }
      = render 'layouts/footer'
    = javascript_include_tag 'google_analytics' if Rails.env.production?
